body {
    background: lightgray;
    margin: none;
    padding: none;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.jumbotron {
    text-align: center;
    height: 400px;
    color: whitesmoke;
    background: transparent;
    font-family: 'Roboto Slab', serif;
}

.index-background {
    background-image: url("../../assets/images/oil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    margin: 2px;
    background: lightsalmon;
    border: lightsalmon 1px solid;
    font-size: 15px;
    color: black;
}

.aboutmepicture {
    margin: 10px;
}

h1,
h3 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 80px;
}

h2 {
    position: relative;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: underline;
}

#about-me-text,
#portfolio-text {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#portfolio-text {
    background-color: whitesmoke;
}

.portfolio-image {
    width: 290px;
    margin: 0;
}

h5 {
    margin-top: 5px;
    font-size: 25px;
}

.summary {
    padding: 15px;
    font-size: 20px;
    background-image: url("../../assets/images/blue-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}