/* photo CSS */

#picture-of-me {
    float: left;
    margin: 10px;
    overflow: hidden
}

.portfolio-image {
    margin: 10px;
    width: 250px;
}

/* nav bar CSS */
.navbar {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 

}

a {
    color: #373B44;
}

h1 {
    font-size: 25px;
    color: #73C8A9;
}

/* HTML CSS  */

html {
    position: relative;
    min-height: 100%;
}

/* body CSS */

body {
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin-bottom: 60px;
    width: 100%;
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #73C8A9;
    line-height: 25px;
    font-size: 17px;
}


/* section CSS*/
.container {
    margin: auto;
    background: #373B44;
    width: 100%;
    padding: 40px;
    /* border: #dddddd solid 2px; */
    position: relative;
    top: 30px;
    text-align: center;
    border-radius: 25px;

}

h2 {
    color: #73C8A9;
    border-bottom: #cccccc solid 2px;
    height: 50px;
    font-size: 25px;
}

footer {
    height: 75px;
    text-align: center;
    clear: both;
    margin-top: 50px;
    padding-top: 10px;
  }

  .icon {
      height: 20px;
      /* background: white; */
  }

.container-link {
    color: white;
}