body {
    background: lightgray;
    margin: none;
    padding: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.jumbotron {
    text-align: center;
    height: 400px;
    color:whitesmoke;
    background: transparent;
    font-family: 'Roboto', sans-serif;

}

.index-background {
    background-image: url("../../assets/images/oil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    margin: 2px;
    border: steelblue 2px;
    background: whitesmoke;
    font-size: 15px;
    color: black;
}

.aboutmepicture {
    margin: 10px;
}

h1,h3 {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-size: 100px;
}

h2 {
    position: relative;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: underline;
}

#about-me-text, #portfolio-text {
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
}

#portfolio-text {
    background-color: peru;
}


.portfolio-image {
    width: 350px;
    margin: 0
}

h5 {
    margin-top: 5px;
    font-size: 25px;
}

.summary {
    
    background-color: skyblue;
    font-size: 20px;
    padding: 15px
}
