/* photo CSS */

.aboutmepicture{
    margin: 5px;
    overflow: hidden;
    height: 230px
}

.portfolio-image {
    margin: 10px;
    width: 250px;
}

/* nav bar CSS */
.navbar {
    /* padding: 14px 16px; */
    /* text-decoration: none; */
    font-size: 17px; 
    background: transparent;
}

a {
    color: #373B44;
}

h1 {
    font-size: 25px;
    color: #73C8A9;
    font-family: 'Homemade Apple', cursive;
}

/* body CSS */

body {
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
    width: 100%;
    margin: auto;
    padding: 0;
    color: #73C8A9;
    line-height: 25px;
    font-size: 17px;
}


/* section CSS*/
.container {
    margin: auto;
    background: #373B44;
    width: 100%;
    padding: 30px;
    position: relative;
    top: 5px;
    text-align: center;
    border-radius: 25px;
}

h2 {
    color: #73C8A9;
    border-bottom: #cccccc solid 2px;
    height: 50px;
    font-size: 25px;
    font-family: 'Homemade Apple', cursive;
}

footer {
    height: 75px;
    text-align: center;
    clear: both;
    margin-top: 50px;
    padding-top: 10px;
  }

  .icon {
      height: 20px;
  }

.container-link {
    color: white;
}

.circle-icon {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}

.list-group {
    background-color: #73C8A9;
}

.project-div {
    padding-top: 30px;
    padding-bottom: 30px
}

.portfolio-btn {
    margin: 5px;
}

h5 {
    color: #373B44;
    font-weight: 800;
}

.card {
    height: 100%;
}

.learned {
    color: 	#505050;
    font-size: 15px;
    font-style: italic;
}

.card-text {
    border: dotted 2px #73C8A9;
    padding: 5px;
    color: black
}