body {
    margin: auto;
    padding: none;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    height: 100%;
}

.container {
    width: 90%;
}

/* Jumbotron in header */
.jumbotron {
    text-align: center;
    height: 400px;
    color: black;
    background: transparent;
    margin-top: -80px;
}

/* Buttons in nav links and porfolio */
.btn {
    margin: 2px;
}

.portfolio-btn {
    background: #FF8E8A;
    border: none;
    font-size: 15px;
    color: black;
    opacity: 80%;
}

.portfolio-btn:hover {
    background: #FF8E8A;
    opacity: 100%;
}

/* Pictures of me */
.aboutmepicture {
    margin: 10px;
}

/* Headers */
h1, h3, h2 {
    font-family: 'Pacifico', cursive;
}

/* H1 is my name */
h1 {
    font-size: 50px;
}

/* H2 is section headers */
h2 {
    margin: 20px;
    font-size: 40px;
}

/* H5 is project titles */
h5 {
    font-size: 30px;
}

/* Page Break */
hr {
    border: 3px solid;
    color: #FF8E8A;
    border-radius: 25px;
}

/* Blissfully Coding Title underneath my Name */
.blissfullycoding {
    position: relative;
    top: 125px;
    font-size: 100px;
    color: #FF8E8A;
}

/* porfolio/project cards */
.card {
    text-align: center;
    align-items: center;
    font-size: 16px;
    height: 95%;
    position: relative;
    border: none;
    padding: 10px;
    padding-bottom: 70px;
    background-color: whitesmoke;
}

/* Porfolio/project screenshots */
.portfolio-image {
    width: 290px;
    margin: 0;
}

/* Contact Links at Bottom of Page */
.contact-links {
    position: static;
    text-align: left;
}

.one-hundred-days {
    margin-top: 15px;
    margin-bottom: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}